body {
    border: 5px solid black;
    background-color: #b7ce63;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 50px 380px;
    justify-content: center; 
    margin-top: 200px;
    margin-bottom: 200px;
  }
  
  .container {
    text-align: center;
    align-self: center;
    font-size: 25px;
    font-weight: bold;
  }
  
  .litmus1 {
    width: 150px;
    height: 350px;
    background-color: #DA70D6;
    border: 5px solid black;
    margin: 20px;
    
  }
  
  .litmus2 {
    width: 150px;
    height: 350px;
    background-color: #DA70D6;
    border: 5px solid black;
    margin: 20px;
    animation: acid 5s;
    
    animation-iteration-count: infinite;
  }
  
  @keyframes acid {
    from {background-color: #DA70D6 }
    to {background-color: red}
  }
  
  
  
  .litmus3 {
    width: 150px;
    height: 350px;
    background-color: #DA70D6;
    border: 5px solid black;
    margin: 20px;
    animation: base 5s;
    
    animation-iteration-count: infinite;
  }
  
  @keyframes base {
    from {background-color: #DA70D6 }
    to {background-color: royalblue}
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
  }
  
  .flex-container > div {
    width: auto;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  
  
  a {
    background-color: #7b9e24;
    border: 1px solid black;
    color: black;
    padding: 10px 20px;
    text-align: center;
    font-size: 30px;
  }